<html>
<head>
<style>

    body {
        text-align: center;
        margin-top: 50px;
        font-size: 25px;
        background-color: yellow;

    }
iframe{width: 100%; height:75%; border:0px;}
    h1 {
        color: red;
    }

</style>
</head>


<body>
    <h1>Covid Statistics</h1>
    <form method= "post">
    <label>enter a country name</label>
    <input type="text" name="text"placeholder="type country: ">
    <input type="submit">
    </form>
    <iframe src="{{image}}"></iframe>
    <p>you have {{num}} visitors</p>




</body>
</html>
